.bg-home{
    background-image: url('https://s.tmimgcdn.com/scr/800x500/290100/chef-cooking-facebook-cover-banner-design-003_290179-original.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
background-color: dimgrey;


    
}