.bg-home{
    background-image: url('https://media.istockphoto.com/id/1134907354/photo/vegan-lifestyle-healthy-eating-salad-on-white-background.jpg?s=1024x1024&w=is&k=20&c=H4SCIzDKxiAuhB7eEz7x7U91oUwj4k2bv3FBs9G4t3s=');

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
background-color: dimgrey;


    
}