.bg-home{
    background-image: url('https://media.istockphoto.com/id/621598372/photo/healthy-fresh-homemade-salad.jpg?s=1024x1024&w=is&k=20&c=JAzXs9fG26H7YP7tl301ZZE1aZGrkjmxWa3Dn7KOnHI=');

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
background-color: dimgrey;


    
}